<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
    <script type="text/javascript" src="{{ url_for('static', filename='webapp.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='d3.min.js')}}"></script>
    <script typr="text/javascript" src="{{ url_for('static', filename='topojson.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='datamaps.world.min.js')}}"></script>
    <title>Formula 1 Data Summary Home</title>
</head>

<body>
    <h1>
        <a id="title" href="index.html">Formula 1</a>
        <span class="smaller">Data Summary</span>
    </h1>
    <div class="navbar">
        <a href="index.html">Home</a>
        <a href="top_driver.html">Driver</a>

        <div class="dropdown">
            <button class="dropbtn">Race</button>
            <div class="dropdown-content">
                <a href="20century.html">20th century</a>
                <a href="21century.html">21st century</a>
            </div>

        </div>

        <div class="instruction">
            <i><strong>CLICK</strong> on any country and 
                <strong>SCROLL DOWN!!</strong> Guess which country has drivers and races!</i>
        </div>
    </div>

    <div id="world_map">
    </div>
    <br>
    <h2>Formula 1, the highest class of international single-seat auto racing. </h2>
    <br>
    <div class="table_container">
        <table id="country_driver"></table>
        <table id="country_race"></table>
    </div>



</body>




</html>